<div id="<%= dom_id push_subscription %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Endpoint:</strong>
    <%= push_subscription.endpoint %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">P256dh:</strong>
    <%= push_subscription.p256dh %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Auth:</strong>
    <%= push_subscription.auth %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subscribed:</strong>
    <%= push_subscription.subscribed %>
  </p>

</div>
