<!DOCTYPE html>
<html>
  <head>
    <title>NoticedFirebaseNotifications</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header>
      <nav class="bg-white border-gray-200 dark:bg-gray-900">
          <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
              <a href="<%= root_url %>" class="flex items-center space-x-3 rtl:space-x-reverse">
                  <img src="https://labi9.com/images/logo/logo-website-solid.webp?jsx" class="h-8" alt="Flowbite Logo" />
              </a>
              <div class="flex items-center space-x-6 rtl:space-x-reverse">
                  <% if user_signed_in? %>
                  <a class="text-sm text-gray-500 dark:text-white hover:underline">Logged in as <strong><%= current_user.email %></strong>.</a>
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'text-sm text-blue-600 dark:text-blue-500 hover:underline' %> |
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'text-sm text-blue-600 dark:text-blue-500 hover:underline'  %>
                  <% else %>
                    <%= link_to "Sign up", new_user_registration_path, :class => 'text-sm text-blue-600 dark:text-blue-500 hover:underline'  %> |
                    <%= link_to "Login", new_user_session_path, :class => 'text-sm text-blue-600 dark:text-blue-500 hover:underline'  %>
                  <% end %>
              </div>
          </div>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
